:root {
  --bg-color: #FDFCF8;
  --text-main: #E3DBCC;
  --text-caption: #E3DBCC;
  --accent-line: #F8F0EF;
  --header-color: #F8F0EF;
  --hover-color: #F8F0EF;
  --lang-active: #F8F0EF;
  --lang-inactive: #E3DBCC;
  --font-family: 'IBM Plex Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-family);
  overflow: hidden; /* Скроллинг будет внутри контейнера галереи */
}
