:root {
  --bg-color: #FDFCF8;
  --text-main: #11120D;
  --text-caption: #11120D;
  --accent-line: #CC3333;
  --header-color: #CC3333;
  --hover-color: #CC3333;
  --lang-active: #CC3333;
  --lang-inactive: #11120D;
  --font-family: 'B612', sans-serif;
  --font-family-mono: 'B612 Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-main);
  font-family: var(--font-family);
  overflow: hidden; /* Скроллинг будет внутри контейнера галереи */
}
